<ng-container *ngIf="!isSetupFinished; else setupFinished">
  <div class="header">Set password for {{ email }}</div>

  <form [formGroup]="passwordForm">
    <mat-form-field>
      <input matInput type="password" id="setup_password" placeholder="Password" autocomplete="new-password" formControlName="password" required>
    </mat-form-field>

    <div>
      <button mat-flat-button color="accent" type="submit" (click)="setup()" [disabled]="!passwordForm.valid">Set password</button>
    </div>
  </form>
</ng-container>

<ng-template #setupFinished>
  <div class="header">Your password is set up!</div>
  <button mat-flat-button color="primary" routerLink="/login">Login</button>
</ng-template>
