:host {
  padding: 0 10px;
  display: block;
}

.wide {
  min-width: 40%;
}

.pull-right {
  flex-direction: row-reverse;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0 0 0 / 15%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  margin-top: 20px;
}

mat-card-actions {
  padding: 20px 10px 10px !important;
  text-align: right;
}
