<h2>Add a user to the account</h2>

<form [formGroup]="userForm">

  <mat-form-field>
    <input matInput type="email" placeholder="User email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{role}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="controls">
    <button mat-raised-button color="primary" [disabled]="!userForm.valid || inProgress" (click)="submit()">{{ submitText }}</button>
    <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
  </div>

</form>
