<form [formGroup]="categoryForm" novalidate>
  <div>
    <mat-form-field>
      <input matInput placeholder="Category name" formControlName="name" />
    </mat-form-field>
  </div>

  <div formArrayName="counterpartyPatterns">
    <mat-form-field
      class="pattern"
      *ngFor="let pattern of patterns.controls; let i = index"
    >
      <input matInput placeholder="Pattern {{ i }}" [formControlName]="i" />
    </mat-form-field>
  </div>
</form>

<div class="actions" *forRoles="['OWNER']">
  <button mat-button color="primary" *ngIf="editMode">Delete</button>
  <button mat-button color="primary" (click)="addPattern()">Add pattern</button>
  <button
    mat-button
    color="primary"
    *ngIf="!editMode"
    [disabled]="categoryForm.invalid"
    (click)="addCategory()"
  >
    Add
  </button>
  <button
    mat-button
    color="primary"
    *ngIf="editMode"
    [disabled]="categoryForm.invalid"
    (click)="updateCategory()"
  >
    Update
  </button>
</div>
