<main>
  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="search">
    <mat-form-field>
      <input matInput #filter placeholder="Filter by category" />
    </mat-form-field>
  </div>

  <expenses-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [categories]="expenseCategories"
    [deleteCallback]="getLoadTableCallback$()"
    [submitCallback]="getSubmitExpenseCallback$()"
  >
  </expenses-table>

  <div data-cy="add-expense" class="add">
    <button
      mat-fab
      color="primary"
      (click)="openExpenseDialog()"
      *forRoles="['owner']"
    >
      +
    </button>
  </div>
</main>
